/.metadata/
/.mcuxpressoide_packages_support/
/AzureRTOS_TAD_logs/
/FreeRTOS_TAD_logs/
/ZephyrRTOS_TAD_logs/
/an_flash_xip_plus_psram/Debug/
/an_flash_xip_plus_psram/.settings/
/an_flash_xip_plus_psram/an_flash_xip_plus_psram JLink Debug.launch
